html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/****** css reset end *******/

body { font-family: Tahoma, Arial; }
a { text-decoration: none; color: #000; }
a:hover { text-decoration: underline; }
h2 { 
    font-size: 3em;
    margin-bottom: 1em;
}




/**** header ****/
header { 
    height: 600px; 
    clear: both; 
    background: #FFF url(../images/fundo.jpg) center no-repeat; 
    background-size: cover;
    margin: 0 0 20px 0; 
    position: relative;
    overflow: hidden;
}




.logo { 
    position: absolute;
    top: 50px;
    left: 50px;
}

.logo a { display: block; }
.inscreva-se { 
    background: url(../images/ribbon.png) top center no-repeat; 
    float: right;
    width: 130px;
    margin-right: 120px;
    height: 140px;
    position: relative;

}
.inscreva-se .rs { font-size: 20px; position: absolute; top: 10px; left: 10px; }
.inscreva-se .valor { font-size: 85px; position: absolute; top: 15px; left: 20px;}




/* conteudo */


#content { 
    min-height: 300px; 
    clear: both; 
    background: #FFF; 
    margin: 10px 30px; 
}

/* links */
#menu { 
    position: absolute;
    top: 180px;
    left: 80px;
    width: 50%;
}
#menu li { 
    height: 25px;
    line-height: 20px;
    font-size: 25px;
    padding: 10px 30px;
}
#menu li a {
    color: #fff;
    text-shadow: 0.1em 0.1em 0.2em #000;
}
#menu li a:hover {
    text-decoration: none;
}

/* contador */
#counter { 
    position: absolute;
    right: 100px;
    top: 250px;
    width: 450px;
    text-align: center;
    padding: 30px;
    background-color: #ccc;
}
.data {
    font-size: 30px;
    color: #000;
    text-align: center;
    display: block;
}
#faltam { font-size: 60px; padding-top: 30px; }
#counter p { padding-top: 40px; }



.inscricao-counter { 
    padding: 10px; 
    background-color: #555; 
    color: #FFF;
    font-size: 40px;

    -moz-box-shadow:    3px 3px 5px 0px #000;
    -webkit-box-shadow: 3px 3px 5px 0px #000;
    box-shadow:         3px 3px 5px 0px #000;


    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

.inscricao-counter:hover {
    text-decoration: none;
}

/* sobre */
#sobre { 
    width: 97%;
    display: inline-block;
    background-color: #FFF;
    background-color: #FFF;
    padding: 10px 25px 25px;
}
#sobre p { 
    height: 30px;
    font-size: 15px;
}


/*mapa*/
#como-chegar { background-color: #FFF; width: 97%; min-height: 300px; margin: 0px auto; padding: 50px 25px 25px; }
#como-chegar .imagem { display: none; }
#mapa { 
    width: 400px;
    height: 400px; 
    margin: 0 auto; 
}
#como-chegar address { display: block; margin-bottom: 10px;}


/* agenda */
#agenda { clear: both; background-color: #FFF; width: 96%; min-height: 300px; margin: 0px auto; padding: 50px 25px 25px; }
table { width: 100%; }
td, th { border: 1px solid #000; padding: 10px; margin: 2px; }
th { font-weight: bold; }
.center { text-align: center; }


/* patrocinador */
#patrocinadores { 
    clear: both;
    background-color: #FFF;
    width: 96%;
    min-height: 300px;
    margin: 0px auto;
    padding: 50px 25px 25px;
}
/*
.patrocinador {
    font-size: 20px;
}
*/

/* contato */
#contato { clear: both; background-color: #FFF; width: 96%; min-height: 300px; margin: 0px auto; padding: 50px 25px 25px; }
.contato { font-size: 30px; }
footer {
    padding: 30px 0;
}



#appengine {
    display: block;
    margin: 0 auto;
}


@media screen and (max-width:400px){
    body { background-color: pink; }
}